/* Start Reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
html{height: 100%;}
button{border:0px;cursor:pointer;outline: none;}
img{display:block;max-width:100%;border:0px;}
li{list-style-position: inside;}
table{border-collapse: collapse;}
/* input, textarea, a {outline: none!important;} */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
b, strong{font-family: "RobotoBold";font-weight: normal;}
iframe{border:0px;}
a{text-decoration: none;outline: none;color: #3bafd9;}
a:hover{text-decoration: underline;}
textarea{resize: none;}
textarea:focus, input:focus{border: 1px solid #d94453;outline:0;}
ul, ol{list-style: none;}
/* End Reset */
/* Start Default */
h1, h2, h3, h4, h5, h6{font-family: "RobotoBold";color: #2d2f34;font-weight: normal;}
h1{font-size: 3.2rem;}
h2{font-size:3rem;}
h3{font-size:2.8rem;}
h4{font-size:2.6rem;}
h5{font-size:2.4rem;}
h6{font-size:2.2rem;}
/* .btn{width: 100%;border:0px;cursor:pointer;display: block;max-width: 182px;height: 48px;line-height:48px;background-color: #fbfdff;border-radius: 4px;font-family: "RobotoCondensedRegular";font-size: 16px;color: #2d2f34;text-align: center;text-transform: uppercase;}
.btn:hover{color: #5b74b3;text-decoration: none;}
.btn:active{background-color: #e9ecf4;color: #5b74b3;}
.btn.border-red{max-width: 186px;background-color: none;border: 1px solid #d24a43;font-size: 14px;color: #d24a43;}
.btn.border-red:hover{background-color: #d24a43;color: white;}
.btn.border-red:active{background-color: #bb3e38;}
.btn.gray{height:44px;line-height:44px;max-width: 154px;background-color: #f3f4f5;font-size: 14px;color: #80818a;}
.btn.gray:hover{background-color: #d24a43;color: white;}
.btn.gray:active{background-color: #bb3e38;}
.btn.red{max-width: 154px;background-color: #d24a43;font-size: 14px;color:white;}
.btn.red:hover{background-color: #d24a43;-webkit-box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);-moz-box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);}
.btn.red:active{background-color: #bb3e38;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.btn-circle{display: block;width: 47px;height: 47px;line-height: 47px;text-align: center;border-radius: 50%;color:white;}
.btn-circle.red{background-color: #d24a43;}
.btn-circle.red:hover{background-color: #d24a43;-webkit-box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);-moz-box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);box-shadow: 0px 10px 10px -5px rgba(210,74,67,0.65);}
.btn-circle.red:active{background-color: #bb3e38;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.arrow{border: solid black;border-width: 0 1px 1px 0;display: inline-block;padding: 4px;vertical-align: middle;}
.arrow.down{transform: rotate(45deg);-webkit-transform: rotate(45deg);margin-bottom: 2px;}
.arrow.right{transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
.arrow.left{transform: rotate(135deg);-webkit-transform: rotate(135deg);}
.arrow.up{transform: rotate(-135deg);-webkit-transform: rotate(-135deg);}*/
::-webkit-input-placeholder {font-family: "RobotoRegular";color: #959ca6;font-size:1.6rem;}
::-moz-placeholder {font-family: "RobotoRegular";color: #959ca6;font-size:1.6rem;}
:-moz-placeholder {font-family: "RobotoRegular";color: #959ca6;font-size: 1.6rem;}
:-ms-input-placeholder {font-family: "RobotoRegular";color: #959ca6;font-size:1.6rem;}
input, textarea{font-family: "RobotoRegular";color: #2d2f34;font-size:1.6rem;}
/* End Default */
/* Start Подключение шрифтов */
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("fonts/RobotoBold/RobotoBold.eot");
	src: url("fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoCondensedRegular"; */
@font-face {
	font-family: "RobotoCondensedRegular";
	src: url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
	src: url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
	url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
	font-family: "RobotoCondensedBold";
	src: url("fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
	src: url("fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
	url("fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* End Подключение шрифтов */

/* Start Body */
html{font-size:62.5%;}
body{font-family: "RobotoRegular";font-size: 1.6rem;line-height: 150%;color: #2d2f34;background-color: #f5f7fa;}
.sb-wrap{display: flex;flex-direction: column;min-height: 100vh;}
.sb-header{display: flex;justify-content: space-between;align-items: center;width:100%;height:7rem;background-color: #e6e9ed;box-shadow: 0 1px 1px rgba(0,0,0,.16);position: fixed;top:0px;left:0px;z-index: 999;flex: 0 0 auto;padding: 1.3rem 1.5rem;}
.sb-site-name{min-width:194px;font-family: "RobotoCondensedRegular";}
.sb-site-name__title{font-size: 3.2rem;line-height:100%;text-shadow: 0 1px 1px rgba(14,15,15,.25);color: #3baed9;}
.sb-site-name__title_red{color: #d94453;}
.sb-site-name__desc{display: block;font-size: 1.2rem;line-height:100%;font-family: inherit;font-style: normal;}
.sb-wrap-search-form{width:100%;max-width:calc(100% - 50rem);}
.sb-search-form{width:100%;height:4rem;position: relative;}
.sb-search-form__input{width:100%;height:4rem;line-height:4rem;padding:0 5.5rem 0 1.5rem;border:1px solid #3aaeda;outline: none;}
.sb-search-form__input:focus{border:1px solid  #d94453;}
.sb-search-form__btn{display: block;width:4rem;height:4rem;position: absolute;top:0px;right:0px;z-index: 1;color:white;background-color: #3aaeda;font-size: 1.8rem;}
.sb-search-form__btn:hover{background-color: #4ec1e9;box-shadow: inset 0 2px 1px rgba(0,0,0,.1);}
.sb-search-form__btn:focus{background-color: #d94453;}
.sb-yt-btn{font-family: "RobotoCondensedBold";color:white;background-color: red;white-space: nowrap;padding: 0.8rem 1.5rem;margin-left:3rem;text-transform: uppercase;letter-spacing: 1px;}
.sb-yt-btn:hover, .sb-yt-btn:focus{box-shadow: inset 0 3px 1px rgba(0,0,0,.2);text-decoration: none;}
.sb-social-btns{min-width:250px;display: flex;justify-content: flex-end;align-items: center;}
.sb-social-btns__btn{display: block;width:4rem;height:4rem;line-height:4rem;text-align: center;font-size:2.4rem;color:white;margin-left:1.5rem;}
.sb-social-btns__btn:first-child{margin-left:0px;}
.sb-social-btns__btn_yt{background-color: red;}
.sb-social-btns__btn_vk{background-color: #4e739b;}
.sb-social-btns__btn_fb{background-color: #4365ae;}
.sb-social-btns__btn_tw{background-color: #39b4e8;}
.sb-social-btns__btn:hover, .sb-social-btns__btn:focus{box-shadow: inset 0 3px 1px rgba(0,0,0,.2);}
.sb-wrap-page{margin-top:7rem;padding: 1.5rem;position: relative;flex: 1 0 auto;transition: .5s ease;}
.sb-left-sidebar_active .sb-wrap-page{margin-left:265px;}
.sb-wrap-article .sb-wrap-page{margin-right:265px;}
.sb-post-feed{display: flex;flex-wrap:wrap;grid-column-gap: 1.5rem;margin-bottom:3rem;}
.sb-wrap-post{width:calc(33.3333% - 1rem);padding:1.5rem;margin-top:1.5rem;background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);}
.sb-wrap-post:first-child{width:calc(50% - 0.75rem);}
.sb-wrap-post:hover{box-shadow: 0 13px 51px rgba(37, 42, 63, 0.08);}
.sb-wrap-post-link{height:100%;display: flex;justify-content: flex-start;align-items: flex-start;}
.sb-wrap-post-link:hover{text-decoration: none;}
.sb-post-thumb{max-width:220px;margin-right:1.5rem;overflow: hidden;position: relative;}
.sb-post-thumb__caption{display: flex;justify-content: center;align-items: center;position: absolute;top:0;bottom: 0;left: 0;right: 0;background-color:rgb(58 174 218 / 90%);color: white;font-size: 1.8rem;transition: .5s ease;opacity: 0;transform: translate(-100%, 0%);padding:1.5rem;text-align: center;}
.sb-wrap-post-link:hover .sb-post-thumb__caption{transform: translate(0%, 0%);opacity: 1;}
.sb-post-text{width:100%;display: flex;flex-direction: column;height: 100%;}
.sb-post-text__title{flex: 1 0 auto;margin-bottom:1.5rem;}
.sb-post-text__title h2{font-size: 2.4rem;max-height: 7.2rem;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: normal;-webkit-line-clamp: 3;}
.sb-post-text__title h2:hover{text-decoration: underline;}
.sb-post-text__meta{display: flex;justify-content: flex-start;align-items: center;font-size:1.4rem;flex: 0 0 auto;}
.sb-post-text__comments-count{color: #2d2f34;margin-right:3rem;white-space: nowrap;}
.sb-post-text__comments-count span{color:#a9b1bd;margin-right:5px;}
.sb-post-text__post-date{color: #2d2f34;white-space: nowrap;}
.sb-post-text__post-date span{color:#a9b1bd;margin-right:5px;}
.sb-post-feed-banner{width:calc(50% - 0.75rem);padding:1.5rem;margin-top:1.5rem;background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);}
.sb-post-feed-banner:hover{box-shadow: 0 13px 51px rgba(37, 42, 63, 0.08);}
.sb-wrap-load-more-btn{display: flex;justify-content: center;align-items: center;margin-bottom:3rem;}
.sb-load-more-btn{background-color: #3aaeda;padding:1rem 1.5rem;color:white;font-size:1.8rem;}
.sb-load-more-btn:hover{box-shadow: inset 0 3px 1px rgba(0,0,0,.2);}
.sb-load-more-btn i{margin-left:1rem;}
.sb-pagination{display: flex;justify-content: center;align-items: center;}
.sb-pagination li span, .sb-pagination li a{display: block;border: 1px solid #ccd1d9;background-color: #fff;font-family: "RobotoCondensedRegular";color: #3c4651;text-align: center;margin-right: -1px;padding: 0.7rem 1.2rem;font-size:1.4rem}
.sb-pagination li a:hover, .sb-pagination li span.sb-pagination__item_current{background-color: #4ec1e9;box-shadow: inset 0 2px 1px rgba(0,0,0,.1);color: #fff;text-decoration: none;}
.sb-pagination__item_prev i{margin-right:1rem;}
.sb-pagination__item_next i{margin-left:1rem;}
.sb-left-sidebar{width:265px;height:calc(100vh - 7rem);position: fixed;top:7rem;left:0px;z-index: 9;background-color: #e6e9ed;box-shadow: 1px 1px 1px rgba(0,0,0,.16);padding:3rem 0px 8.5rem;transition: .5s ease;transform: translate(-100%, 0%);}
.sb-left-sidebar_active .sb-left-sidebar{transform: translate(0%, 0%);}
.sb-right-sidebar{width:265px;height:calc(100vh - 7rem);position: fixed;top:7rem;right:0px;z-index: 9;background-color: #e6e9ed;box-shadow: -1px 1px 1px rgba(0,0,0,.16);padding:3rem 1.5rem 8.5rem;overflow: auto;-ms-overflow-style: none;scrollbar-width: none;}
.sb-right-sidebar::-webkit-scrollbar{display: none;}
.sb-nav__item{position: relative;}
.sb-nav__item:hover{background-color: #fff;}
.sb-nav__item_sub-item > .sb-nav__link::after{content:"\f054";font-family: "Font Awesome 5 Free";font-weight: 900;position: absolute;right: 1.5rem;top: 50%;transform: translate(0%, -50%);}
.sb-nav__link{display: block;padding:1rem 1.5rem;color:#2d2f34;position: relative;}
.sb-nav__link_active, .sb-nav__link:hover{background-color:#fff;text-decoration: none;}
.sb-nav__link i{width: 2rem;font-size: 1.8rem;margin-right: 1.5rem;text-align: center;}
.sb-nav__sub-nav{display: none;width:100%;position: absolute;top:-1.5rem;left:100%;padding:1.5rem 0;background-color: #e6e9ed;box-shadow: 0 13px 51px rgba(37, 42, 63, 0.08);}
.sb-nav__item_sub-item:hover > .sb-nav__sub-nav{display: block;}
.sb-footer{width:100%;max-width: calc(100% - 265px);padding: 15px;display: flex;justify-content: space-between;align-items: flex-end;flex: 0 0 auto;font-size:1.4rem;line-height:120%;color:#a9b1bd;transition: .5s ease;}
.sb-left-sidebar_active .sb-footer{margin-left:265px;}
.sb-wrap-article .sb-footer{max-width: calc(100% - 265px - 265px);margin-right:265px;}
.sb-footer__copy a{color:#a9b1bd;}
.sb-header__menu-btn{min-width: 25px;height:25px;margin-right: 3rem;position: relative;background: none;}
.sb-header__menu-btn span{display: block;height: 2px;background-color: #3aaeda;position: absolute;right:0px;width:50%;transition: .5s ease;}
.sb-header__menu-btn span::before, .sb-header__menu-btn span::after{content:"";display: block;height: 2px;width: 25px;background-color: #3aaeda;position: absolute;right:0%;transition: .5s ease;}
.sb-header__menu-btn span::before{top:-6px;}
.sb-header__menu-btn span::after{bottom:-6px;}
.sb-header__menu-btn:focus span{bottom: 6px;width: 100%;}
.sb-header__menu-btn:focus span::before{top: -12px;width: 6px;height: 6px;background-color: #d94453;}
.sb-header__menu-btn:focus span::after{bottom: inherit;right: inherit;left: 0;top: -12px;width: 6px;height: 6px;background-color: #d94453;}
.sb-w-article{margin:1.5rem 0 0;}
.sb-bread{padding: 0.8rem 1.5rem;margin-top:1.5rem;background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sb-bread__item{font-size:1.4rem;}
.sb-bread__item.sb-bread__item_sep{font-size:1.2rem;margin:0px 0.5rem;}
.sb-article-title{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom: 1.5rem;}
.sb-wrap-article{display: flex;justify-content: flex-start;align-items: flex-start;}
.sb-article{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;}
.sb-article p, .sb-article h2, .sb-article h3, .sb-article h4, .sb-article h5, .sb-article h6, .sb-article ul, .sb-article ol, .sb-article blockquote{margin-bottom:1.5rem;}
.sb-article blockquote{position: relative;padding-left:2rem;margin: 3rem 0 3rem 5rem;font-family: "RobotoCondensedRegular";font-style: italic;border-left:3px solid  #3aafda;}
.sb-attention{padding:1.5rem;margin: 3rem 0 3rem 5rem;}
.sb-attention > p{margin:0;}
.sb-attention_blue{background-color: #7bd1ef;color: #316f9d;}
.sb-attention_green{background-color: #b9df8f;color: #3b753d;}
.sb-attention_yellow{background-color: #ffdd87;color: #896d3b;}
.sb-attention_red{background-color: #f1838f;color: #a94341;}
.sb-article ul{list-style: square;}
.sb-article ul li, .sb-article ol li{margin-bottom:0.5rem;}
.sb-article ul li:last-child, .sb-article ol li:last-child{margin-bottom:0;}
.sb-article ol{list-style: decimal;}
.sb-article table{width:100%;margin-bottom:1.5rem;}
.sb-article table tr th{padding:1rem;font-family: "RobotoCondensedBold";background-color: #f5f7fa;border:1px solid #e6e9ed;}
.sb-article table tr td{padding:1rem;text-align: center;border:1px solid #e6e9ed;}
.sb-article-meta{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom:1.5rem;display: flex;justify-content: space-between;align-items: flex-start;font-size:1.4rem;}
.sb-article-meta__date{white-space: nowrap;margin-left:1.5rem;}
.sb-w-article-left{width: calc(100% - 50rem - 1.5rem);margin-right: 1.5rem;}
.sb-w-article-right{width:50rem;}
.sb-article-w-post-menu{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom: 1.5rem;}
.sb-article-w-post-menu__title{font-family: "RobotoBold";color: #2d2f34;font-size:2.4rem;margin-bottom:1rem}
.sb-article-post-menu{list-style-type: decimal;column-count: 2;column-gap: 1.5rem;}
.sb-article-post-menu__item{padding-right: 1.5rem;margin-top: 0.5rem;}
.sb-comments{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;}
.sb-comments-title{font-family: "RobotoBold";font-size: 2.4rem;margin-bottom:1.5rem;}
.sb-comment-list{margin-bottom:3rem;}
.sb-comment-body{padding-bottom:1.5rem;margin-bottom:1.5rem;border-bottom:1px solid #dddddd;}
.sb-comment__meta{display: flex;justify-content: flex-start;align-items: flex-end;margin-bottom:1.5rem;}
.sb-comment__author{margin-right:1.5rem;}
.sb-comment__avatar{max-width:60px;}
.sb-comment__meta-data{display: flex;justify-content: flex-start;align-items: flex-start;font-size:1.4rem;}
.sb-comment__fn{margin-right:3rem;color:#d94453;}
.sb-comment__wrap-date{position: relative;margin-right:3rem;transition: .5s ease;}
.sb-comment__date{color:#dddddd;cursor: help;}
.sb-comment__date-hidden{display: none;opacity: 0;visibility: hidden;min-width: 100%;bottom: 100%;left: 50%;transform: translate(-50%, 0%);background-color: #fff;color: #3aaeda;padding: 0.5rem 1rem;position: absolute;z-index: 1;text-align: center;box-shadow: 0 2px 2px rgba(0,0,0,.16);white-space: nowrap;}
.sb-comment__date-hidden::before{content: " ";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;height: 0;width: 0;border: 7px solid transparent;border-right: 7px solid #fff;border-color: #fff transparent transparent transparent;z-index: 2;}
.sb-comment__date-hidden::after{content: " ";position: absolute;top: calc(100% + 2px);left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;height: 0;width: 0;border: 7px solid transparent;border-right: 7px solid #fff;border-color: rgba(0,0,0,.16) transparent transparent transparent;z-index: 1;}
.sb-comment__wrap-date:hover .sb-comment__date-hidden{display: block;opacity: 1;visibility: visible;}
.sb-comment__content{margin-bottom:1.5rem;font-size:1.4rem;}
.sb-comment__actions{display: flex;justify-content: space-between;align-items: center;font-size:1.4rem;}
.sb-comment-body + .sb-comment{padding-left:3rem;}
.sb-comment-respond{margin-top:3rem;}
.sb-comment-form__h5{font-family: "RobotoBold";font-size: 2.4rem;margin-bottom:1.5rem;}
.sb-comment-form__block{display: flex;justify-content: space-between;align-items: flex-end;margin-bottom:1.5rem;}
.sb-comment-form__block_full-width{margin-bottom:1.5rem;}
.sb-comment-form__label{color: #2b2e30;font-family: "RobotoBold";font-size: 1.4rem;line-height:100%;display: flex;justify-content: flex-start;align-items: center;}
.sb-comment-form__textarea{width:100%;min-height:150px;padding:1.5rem;border: 1px solid #aab2bd;background-color: #fff;font-family: "RobotoRegular";font-size: 1.6rem;margin-top:1rem;}
.sb-comment-form__inline{width:48%;}
.sb-comment-form__inline:first-child{margin-right:4%;}
.sb-comment-form__input{width:100%;height:40px;line-height:40px;padding:0 1.5rem;border: 1px solid #aab2bd;margin-top:1rem;}
.sb-comment-form__checkbox{position: absolute;width:1px;height:1px;overflow: hidden;clip:rect(0, 0, 0, 0);}
.sb-comment-form__checkbox-span{display: flex;justify-content: flex-start;align-items: flex-end;position: relative;cursor: pointer;}
.sb-comment-form__checkbox-span::before{content: '';display: block;min-width: 5rem;height: 2.5rem;margin-right: 1rem;background-color: #e6e9ed;box-shadow: inset 0 2px 3px rgba(0,0,0,.2);}
.sb-comment-form__checkbox-span::after{content: '';position: absolute;bottom: 2.5px;left: 2px;width: 2.1rem;height: 2.1rem;background-color: #FFF;box-shadow: 0 2px 5px rgba(0,0,0,.3);transition: all .2s;}
.sb-comment-form__checkbox:checked + .sb-comment-form__checkbox-span::before{background-color:#3aaeda;}
.sb-comment-form__checkbox:checked + .sb-comment-form__checkbox-span::after{left: 27px;}
.sb-comment-form__submit{width:100%;padding:1rem 1.5rem;text-align: center;font-family: "RobotoCondensedBold";font-size:1.6rem;color:white;background-color: #d94453;letter-spacing: 1px;text-transform: uppercase;}
.sb-comment-form__submit:hover{background-color: #ed5565;box-shadow: inset 0 2px 1px rgba(0,0,0,.2);}
.sb-comment-form__privacy{font-size:1.2rem;line-height:120%;}
.sb-want-video{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-top:1.5rem;}
.sb-want-video__title{font-family: "RobotoCondensedBold";font-size:2.1rem;color:#d94453;margin-bottom:1.5rem;text-transform: uppercase;text-align: center;}
.sb-want-video__actions{display: flex;justify-content: center;align-items: center;}
.sb-want-video__btn{margin:0 1.5rem;background-color: #d94453;height: 4rem;line-height: 4rem;padding:0 2rem;text-align: center;font-family: "RobotoCondensedBold";color:white;font-size: 1.6rem;}
.sb-want-video__btn:hover{background-color: #ed5565;box-shadow: inset 0 2px 1px rgba(0,0,0,.2);}
.sb-single-pagination__item{max-width: 500px;background-color: #fff;box-shadow: 1px -1px 5px rgba(66,79,96,.16);padding: 1.5rem;position: fixed;bottom:0;z-index: 99;transition: .5s ease;}
.sb-single-pagination__item:hover{text-decoration: none;}
.sb-single-pagination__item_prev{left:0;transform: translate(-100%, 0%);}
.sb-single-pagination__item_prev:hover{left:0;transform: translate(0%, 0%);}
.sb-single-pagination__item_prev i{font-size:1.6rem;}
.sb-left-sidebar_active .sb-single-pagination__item_prev i{margin-right:1rem;}
.sb-single-pagination__item_prev .sb-single-pagination__link{display: flex;justify-content: flex-start;align-items: center;max-width:44px;max-height:54px;background-color: #3bafd9;color: white;box-shadow: 1px -1px 5px rgba(66,79,96,.16);padding: 1.5rem;position: absolute;left:100%;bottom:0;font-size:0;transition: .5s ease;}
.sb-left-sidebar_active .sb-single-pagination__item_prev .sb-single-pagination__link{width:100%;max-width:265px;font-size:1.6rem;background-color: #fff;color: #3bafd9;}
.sb-single-pagination__item_next{right:0;transform: translate(100%, 0%);}
.sb-single-pagination__item_next:hover{right:0;transform: translate(0%, 0%);}
.sb-single-pagination__item_next i{font-size:1.6rem;}
.sb-left-sidebar_active .sb-single-pagination__item_next i{margin-left:1rem;}
.sb-single-pagination__item_next .sb-single-pagination__link{display: flex;justify-content: flex-end;align-items: center;max-width:44px;max-height:54px;background-color: #3bafd9;color: white;box-shadow: 1px -1px 5px rgba(66,79,96,.16);padding: 1.5rem;position: absolute;right:100%;bottom:0;font-size:0;transition: .5s ease;}
.sb-left-sidebar_active .sb-single-pagination__item_next .sb-single-pagination__link{width:100%;max-width:265px;font-size:1.6rem;background-color: #fff;color: #3bafd9;}
.sb-wrap-other-post{height:100%;display: flex;justify-content: flex-start;align-items: flex-start;position: relative;z-index: 99;}
.sb-other-post-thumb{max-width: 200px;margin-right: 1.5rem;}
.sb-other-post-text{display: flex;flex-direction: column;height: 100%;}
.sb-other-post-text__title{flex: 1 0 auto;margin-bottom: 1.5rem;}
.sb-other-post-text__title h4{font-size: 1.8rem;}
.sb-other-post-text__title h4:hover{text-decoration: underline;}
.sb-other-post-text__meta{display: flex;justify-content: flex-start;align-items: center;font-size: 1.4rem;flex: 0 0 auto;}
.sb-other-post-text__post-date{color: #2d2f34;white-space: nowrap;}
.sb-other-post-text__post-date span{color: #a9b1bd;margin-right: 5px;}
.sb-wrap-share{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom:1.5rem;display: flex;justify-content: space-between;align-items: flex-start;}
.sb-share{margin-right:1.5rem;}
.sb-share:last-child{margin-right:0;}
.sb-share__title{font-family: "RobotoBold";font-size: 1.6rem;margin-bottom: 1rem;}
.sb-share__title_right{text-align: right;}
.sb-share-btns{display: flex;justify-content: flex-start;align-items: center;}
.sb-share__btn{display: block;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;font-size: 2.4rem;color: white;margin-right:0.5rem;cursor: pointer;}
.sb-share__btn:hover{box-shadow: inset 0 3px 1px rgba(0,0,0,.2);}
.sb-share__btn:last-child{margin-right:0;}
.sb-share__btn_vk{background-color: #4e739b;}
.sb-share__btn_fb{background-color: #4365ae;}
.sb-share__btn_tw{background-color: #39b4e8;}
.sb-share__btn_od{background-color: #ee8208;}
.sb-share__btn_rss{background-color: #ffa333;}
.sb-share__btn_rub{background-color: #da4453;}
.sb-share-link__input{width:100%;height:4rem;line-height:4rem;border: 1px solid #aab2bd;padding:0 1.5rem;color: #aab2bd;cursor: pointer;}
.sb-share-link__input:hover{border: 1px solid #d94453;}
.sb-share-link__input:focus{border: 1px solid #3aaeda;color:#3aaeda;}
.sb-post-sub{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom:1.5rem;position: relative;}
.sb-post-sub:after{content: '';position: absolute;top: -4rem;right: -2rem;left: 50%;bottom: -4rem;background: url(img/bgs/robot_mail.svg) center no-repeat;z-index: 99;}
.sb-post-sub__title{width: 100%;padding:1rem 1.5rem;background-color: #3baed9;box-shadow: 0 1px 1px rgba(66,79,96,.16), inset 0 2px 2px rgba(85,95,104,.16);color: #fff;font-family: "RobotoCondensedRegular";font-size: 2.1rem;margin-bottom: 1.5rem;text-transform: uppercase;}
.sb-post-sub__form{width: 70%;margin-bottom:1.5rem;}
.sb-post-sub__item{margin-bottom:1.5rem;}
.sb-post-sub__item:last-child{margin-bottom:0;}
.sb-post-sub__input{width: 100%;height: 4rem;line-height: 4rem;background-color:#f5f7fa;padding: 0 1.5rem;border: 1px solid #3aaeda;}
.sb-post-sub__btn{width: 100%;max-width:80%;height:4rem;background-color: #3aaeda;box-shadow: 0 1px 1px rgba(66,79,96,.16);color: #fff;font-family: "RobotoCondensedRegular";font-size: 1.8rem;text-transform: uppercase;padding:0 1.5rem;}
.sb-post-sub__btn:hover{background-color: #4ec1e9;box-shadow: inset 0 2px 1px rgba(0,0,0,.1);}
.sb-post-sub__privacy{font-size:1.2rem;}
.sb-widget{background-color: #fff;box-shadow: 0 1px 1px rgba(66,79,96,.16);padding: 1.5rem;margin-bottom:1.5rem;}
.sb-widget:last-child{margin-bottom:0;}
.sb-wrap-similar-post{margin-bottom:1.5rem;}
.sb-wrap-similar-post:last-child{margin-bottom:0;}
.sb-similar-post{display: block;}
.sb-similar-post:hover{text-decoration: none;}
.sb-similar-post-thumb{overflow: hidden;position: relative;margin-bottom:1rem;}
.sb-similar-post-thumb__caption{display: flex;justify-content: center;align-items: center;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgb(58 174 218 / 90%);color: white;font-size: 1.6rem;transition: .5s ease;opacity: 0;transform: translate(100%, 0%);padding: 1.5rem;text-align: center;}
.sb-similar-post:hover .sb-similar-post-thumb__caption{transform: translate(0%, 0%);opacity: 1;}
.sb-similar-post-text__title h3{font-size:1.8rem;line-height:120%;}
.sb-similar-post-text__title h3:hover{text-decoration: underline;}
.sb-similar-post-text__meta{font-size:1.4rem;color: #a9b1bd;}
.sb-similar-post-text__post-date span{margin-right: 5px;}










/* .sb-header__menu-btn_active span{width:0%;right:50%;}
.sb-header__menu-btn_active span::before{transform: rotate(45deg);right: -12px;top: -1px;}
.sb-header__menu-btn_active span::after{transform: rotate(-45deg);right: -12px;bottom: 1px;} */
/* End Body */